<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{ .Title }} - {{ .SystemName }}</title>
  <!-- 站点图标 -->
  <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/static/css/admin.css" />
  <script type="module" src="./static/lib/include.js"></script>
</head>

<body>
  <div class="layui-layout layui-layout-admin" id="app">
    <div class="layui-header">
      <!-- 头部区域（可配合layui 已有的水平导航） -->
      <ul class="layui-nav layui-layout-left">
        <!-- 移动端显示 -->
        <li class="layui-nav-item layui-show-xs-inline-block" lay-header-event="menuLeft">
          <i class="layui-icon layui-icon-spread-left"></i>
        </li>
      </ul>
      <ul class="layui-nav layui-layout-right">
        <!-- 刷新页面按钮 -->
        <li class="layui-nav-item" lay-unselect>
          <a href="javascript:;" id="refresh-btn" style="background-color: unset" title="刷新页面">
            <i class="layui-icon layui-icon-refresh-3" style="font-size: 20px"></i>
          </a>
        </li>
        <li class="layui-nav-item">
          <i id="change-theme" class="layui-icon layui-icon-theme" style="font-size: 20px"></i>
        </li>
        <li class="layui-nav-item" lay-unselect>
          <a href="javascript:;" id="logout-btn" style="background-color: unset" title="退出登录">
            <i class="layui-icon layui-icon-logout" style="font-size: 20px"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="layui-side layui-bg-black">
      <div class="layui-side-scroll">
        <!-- 左侧导航区域 -->
        <div class="layui-logo layui-bg-black logo-enhanced">{{ .Title }}</div>
        <ul class="layui-nav layui-nav-tree" lay-shrink="all" lay-unselect lay-filter="nav-side" id="ws-nav-side">
          <li class="layui-nav-item">
            <a class="" href="javascript:;">系统管理</a>
            <dl class="layui-nav-child">
              <dd><a data-path="dashboard" href="javascript:;">仪表盘</a></dd>
              <dd><a data-path="user" href="javascript:;">个人资料</a></dd>
              <dd><a data-path="settings" href="javascript:;">系统设置</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item">
            <a href="javascript:;">应用管理</a>
            <dl class="layui-nav-child">
              <dd><a data-path="apps" href="javascript:;">应用程序</a></dd>
              <dd><a data-path="apis" href="javascript:;">接口设置</a></dd>
              <dd><a data-path="variables" href="javascript:;">公共变量</a></dd>
              <dd><a data-path="functions" href="javascript:;">公共函数</a></dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>
    <div class="layui-body">
      <!-- 内容主体区域 -->
      <wc-include id="router-view" allow-scripts></wc-include>
    </div>
    <div class="layui-footer">{{ .FooterText }}</div>
  </div>
  <script type="module" src="./static/js/admin.js"></script>
</body>

</html>